go 1.24.4

use (
	./services/auth-service
	./services/user-service
	./services/mail-service
	./services/venue-service
	./services/booking-service
	./services/chat-service
	./services/map-service
	./services/notification-service
	./services/payment-service
	./api-gateway
)
